{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/househunt.css' %}">
    <title>House Hunting</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/">House Hunting</a></h1>
</div>


<div class="house-nav row">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="{% url 'housescraping' %}">Home</a>
        <a class="navbar-brand" href="{% url 'property_search' %}">Search Data</a>
        <a class="navbar-brand" href="#">Report</a>
    </nav>
</div>


<div class="content container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>