{% extends 'househunt/property_search.html' %}

{% block result %}
<div class="row">
    <div class="col-md-12">
        <p>Search results: <b>{{ search_result }}</b> properties</p>
    </div>
</div>
{{ postcode }}

<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-inverse table-hover table-bordered">
            <thead class="thead-default">
            <tr>
                <th>No.</th>
                <th>Property ID</th>
                <th>Address</th>
                <th>Suburb Name</th>
                <th>Postcode</th>
                <th>Listed Date</th>
                <th>Price</th>
                <th>Sold Date</th>
                <th>Sold Price</th>
                <th>Listed Agent</th>
                <th>Create Date</th>
	            <th>Modified Date</th>
            </tr>
            </thead>
            <tbody>

            {% for house in property %}

            <tr>
	            <td>{{ house.pk }}</td>
                <td>{{ house.PropertyID }}</td>
                <td>{{ house.Address }}</td>
                <td>{{ house.SuburbName }}</td>
                <td>{{ house.Postcode }}</td>
                <td class="nowrap">{{ house.ListedDate|date:"d M Y"}}</td>
                <td >{{ house.Price }}</td>
                <td class="nowrap">{{ house.SoldDate|date:"d M Y" }}</td>
                <td class="nowrap">{{ house.SoldPrice }}</td>
                <td>{{ house.ListedAgent}}</td>
                <td class="nowrap">{{ house.CreateDate|date:"d M Y" }}</td>
	            <td class="nowrap">{{ house.ModifiedDate|date:"d M Y" }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}