{% extends 'househunt/base.html' %}
{% load widget_tweaks %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

<form name="housescraping" action="{% url 'housescraping' %}" method="post">
	{% csrf_token %}
	<div class="row frm_getdata">
		<div class="col-md-1"></div>
		<div class="form-group col-md-8">
			{% render_field form.url class+="form-control input-lg" placeholder="Enter link" %}
		</div>
		<button type="submit" class="btn btn-default btn-lg" name="_btnget">Get Data</button>
		<button type="submit" class="btn btn-primary btn-lg" name="_btnsave">Save Data</button>
		<div class="col-md-1"></div>
	</div>
</form>

{% block result %}
{% endblock %}

{% endblock %}

