body {
    padding-left: 0px;
   	font-family: 'Roboto', sans-serif;
}
h1 a {
    /*font-family: 'Lobster';*/
    color: #FCA205;;
    font-family: 'Dancing Script', cursive;
}
.page-header {
    /*background-color: #ff9400;*/
    background-color:  #417690;
    margin: 0 0 0 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    font-weight: bold;
    text-decoration: none;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.content {

}
.house-nav{
    margin: 0 0 20 0;
    padding: 0px 0px 0px 30px;
    background-color: #c4dce8;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-brand{
    font-size: 12pt;
}
.frm_getdata{
    margin: 0 15 0 0;
}
h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
}
.date {
    color: #828282;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

/*CSS for Property.html*/
.panel panel-default{
    padding: 0 0 0 0;
}
.table-responsive{
    padding: 0 0 0 0;
}
table{
    font-size:9pt;
    margin: 0 0 0 0;
}
table thead tr th{
    text-align: center;
    background-color: #f0b27a;
    white-space: nowrap;
}
.nowrap{
	white-space: nowrap;
}


